* {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(228, 156, 61);
}

body {
  padding: 60px;
  color: rgb(13, 13, 224);
}

input {
  color: rgb(23, 25, 179);
  font-size: 1.6rem;
  background-color: rgb(220, 223, 67);
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 3px solid rgb(10, 14, 246);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 35px;
  overflow: hidden;
  background-color: rgba(27, 24, 71, 0.986);
}

.card p {
  display: flex;
  padding: 5px;
  width: 500px;
  text-align: center;
  background-color: rgb(168, 172, 114);
  color: blue;
}

.card img {
  max-height: 170px;
}
